<section class="contact-info">
    <div class="item">
        <span class="icon solid alt fa-home"></span>
        <p>
            109 Lemon Street<br />
            Washington, IN 47501
        </p>
    </div>
    <div class="item">
        <span class="icon solid alt fa-phone"></span>
        <p>
            812-254-5558
        </p>
    </div>
    
    
    <div class="item">
        <span class="icon brands alt fa-facebook-f"></span>
        <a href="https://www.facebook.com/pages/Tri-County-Motors-Towing/1471042149873923?rf=1565877836986993">facebook.com/pages/Tri-County-Motors-Towing</a>
    </div>
</section>
<p class="copyright">
    &copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet.
</p>



<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>