<!DOCTYPE HTML>
<!--
	Threshold by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Tri County Motors</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://kit.fontawesome.com/a268f43d2d.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header" class="alt">
				<a class="logo" href="/">Tri County Motors</a>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="/services">Towing Services</a>		
							
						</li>
						<li><a href="/inventory">Inventory</a></li>
						<li><a href="elements.html">Payment</a></li>
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</nav>
			</header>
  </body>
</html>