<%- include('partials/header') -%>

<!-- Banner -->
<div id="banner" class="wrapper">
    <section id="three" class="wrapper style1">
            <div class="inner">
                <div class="box cta">
                    <div class="content">
                        <h1>Need Road Side Assistance?</h1>
                        <p>We are available 24/7 give us a call or schedule service.</p>
                    </div>
                    <ul class="actions stacked">
                        <li><a href="tel:812-254-5558" class="button primary large fit">Call Now</a></li>
                        <li><a href="/book" class="button large fit">Book a Tow</a></li>
                    </ul>
                </div>
            </div>
        </section>

</div>

<!-- Wrapper -->
<div id="wrapper">

    <!-- One -->
        <section id="one" class="wrapper style1">
            <div class="inner">
                <div class="spotlights">
                    <div class="spotlight">
                        <div class="image fit">
                            <img src="images/img-0609_orig.jpg" alt="" />
                        </div>
                        <div class="content">
                            <h2>About Us</h2>
                            <p>At Tri County Motors, we work tirelessly to maintain our reputation as the best towing service in Washington. We maintain the utmost transparency with our customers through every step of the process, and our prices are proof that you don’t always have to sacrifice the quality of your service in order to save money.
                                <br>
                                <br>

                                Are you in need of a tow, or another form of roadside assistance in the Washington area? Give us a call or fill out our form now to hear more about our service packages and get a free estimate.
                                </p>
                            <ul class="actions">
                                <li><a href="/contact" class="button primary">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="spotlight">
                        <div class="image fit alt">
                            <img src="images/990420035.jpg" alt="" />
                        </div>
                        <div class="content">
                            <h2>Towing Services</h2>
                            <p>Fast, reliable and affordable. With heavy-duty tow and flat bed trucks in our fleet, we offer tows for most kinds of vehicles.

                            </p>
                            <ul class="actions">
                                <li><a href="/services" class="button primary">Services</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="spotlight">
                        <div class="image fit">
                            <img src="images/1376960739.jpg" alt="" />
                        </div>
                        <div class="content">
                            <h2>Inventory</h2>
                            <p>Browse the vehicles we have to offer.</p>
                            <ul class="actions">
                                <li><a href="#" class="button primary">Our Cars</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</div>

<!-- Footer -->
<div id="footer" class="wrapper">
    <div class="inner">
        
    

<%- include('partials/footer') -%>