<%- include('partials/header') -%>
<div id="banner" class="wrapper">
    <div class="inner">
        <div class="content">
            <h1>Towing and Recovery Services</h1>
            <!-- <ul class="actions">
                <li><a href="#one" class="button large primary scrolly">Learn More</a></li>
            </ul> -->
            
            
        </div>
        <!-- <div class="image-wrapper">
            <img src="images/frame.png" class="frame" alt="" />
            <div class="image">
                <img src="images/pic01.jpg" alt="" />
            </div>
        </div> -->
    </div>
</div>
<!-- Two -->
<section id="two" class="wrapper style1">
    <div class="inner">
        <div class="features">
            <div class="feature">
                
                <span class="icon solid alt major fa-car"></span>
                <h2>Accidents</h2>
                <p>Traffic accidents are unexpected.  We provide quick response to all accidents to quickly remove vehicles and clear the road!</p>
            </div>
            <div class="feature">
                <span class="icon solid alt major fa-motorcycle"></span>
                <h2>Motorcyles</h2>
                <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet.</p>
            </div>
            <div class="feature">
                <span class="icon solid alt major fa-battery-empty"></span>
                <h2>Jump Starts | Fuel Delivery</h2>
                <p>Don't be left stranded with a dead battery or out of fuel.  Our quick response service will have you back on the road in now time!</p>
            </div>
            <div class="feature">
                <span class="icon solid alt major fa-lock"></span>
                <h2>Lock-Outs | Tire Changes</h2>
                <p>Flat tire or lock your keys in your car?  No problem, our response service will have you back in your car and back on the road quickly!</p>
            </div>
            <div class="feature">
                <span class="icon solid alt major fa-truck-monster"></span>
                <h2>Off Road Recovery</h2>
                <p>Take the wrong turn and stuck in mud? We have the tools to get you back on the road.</p>
            </div>
            <div class="feature">
                <span class="icon solid alt major fa-address-book"></span>
                <h2>Commercial Services</h2>
                <p>We are affiliated with the following roadside service companies:
                    <br>
                     AAA
                    <br>
                    Road America
                    <br>
                    Quest
                    <br>
                    Swoop
                </p>
                
                
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<div id="footer" class="wrapper">
    <div class="inner">
        
    

<%- include('partials/footer') -%>